{
	"edumateConnectionstring": "Server=172.30.9.66:50001;Database=saas;UID=ofgsodbc;PWD=password123;",
	"queries": [
		{ 
			"file": "e:/CampionSecureConnect/student-data.csv", 
			"query": "SELECT distinct student.student_id AS CODE, contact.FIRSTNAME AS FIRSTNAME, contact.OTHER_NAME AS MIDDLENAME, contact.SURNAME AS SURNAME,	form.SHORT_NAME AS YEARLEVEL, house.HOUSE AS HOUSE,	contact.EMAIL_ADDRESS AS EMAIL FROM STUDENT	INNER JOIN edumate.view_student_start_exit_dates ON student.student_id = edumate.view_student_start_exit_dates.student_id INNER JOIN contact ON student.contact_id = contact.contact_id	INNER JOIN student_form_run ON student_form_run.student_id = student.student_id	INNER JOIN form_run ON student_form_run.form_run_id = form_run.form_run_id INNER JOIN form ON form_run.form_id = form.form_id INNER JOIN stu_school ON student.student_id = stu_school.student_id LEFT JOIN house ON student.HOUSE_ID = house.HOUSE_ID WHERE CURRENT_DATE BETWEEN (edumate.view_student_start_exit_dates.start_date - 90 days) AND edumate.view_student_start_exit_dates.exit_date AND CURRENT_DATE BETWEEN (student_form_run.START_DATE - 30 days) AND student_form_run.END_DATE"
		},
		{
			"file": "e:/CampionSecureConnect/staff-data.csv",
			"query": "SELECT edumate.CONTACT.EMAIL_ADDRESS, edumate.contact.FIRSTNAME, edumate.contact.SURNAME, edumate.staff.STAFF_NUMBER FROM edumate.STAFF INNER JOIN edumate.contact ON edumate.staff.contact_id = edumate.contact.contact_id INNER JOIN edumate.STAFF_EMPLOYMENT ON edumate.staff.STAFF_ID = edumate.STAFF_EMPLOYMENT.STAFF_ID WHERE edumate.STAFF_EMPLOYMENT.START_DATE < (CURRENT_DATE - 10 DAYS) AND (edumate.STAFF_EMPLOYMENT.END_DATE IS NULL OR edumate.STAFF_EMPLOYMENT.END_DATE > CURRENT_DATE)"
		}
	]
	
}